
.form-container {
  padding: 0px;
  width: 700px;
}

.form-container h1 {
  font-size: 40px; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='rating'],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ea1703; /* Cor do botão */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px;
}

button:hover {
  background-color: #820303; /* Cor do botão ao passar o mouse */
}

.back{
  margin-left: 176px;
}

.error-message{
  color: red;
}

.rating {
  display: inline-block;
  height: 10px;
  line-height: 10px;
  font-size: 20px;
  margin-left: 10px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: #fff;
}

.rating label:last-child .icon {
  color: #fff;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ffff00;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #fff;
  text-shadow: 0 0 5px #09f;
}