.see-more{
  cursor: pointer;
}

.username {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    text-decoration: underline;
    color: rgb(131,0,0);
  }
}

.profile-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.author-info {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}

.tabs {
  display: flex;
  border-bottom: 1px solid #e1e8ed;
  margin-bottom: 10px;

  button {
    flex: 1;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    color: rgb(255, 0, 170);

    &.active {
      background-color: #ffffff;
    }

    &:hover {
      background-color: #f5f8fa;
    }
  }
}

.feed-container {
  max-height: 65vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(131,0,0);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f8fa;
  }
}

.post {
  border-bottom: 1px solid #e1e8ed;
  padding: 20px;
  transition: background-color 0.2s;

  &:hover {
    background-color: hsl(0, 0%, 28%);
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .author {
    margin: 1%;
    font-weight: lighter;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: rgb(131,0,0);
    }
  }

  .date {
    font-size: 12px;
    color: #657786;
  }

  p {
    margin-top: 10px;
  }

  a {
    color: rgb(131,0,0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
      color: rgb(131,0,0)
    }
  }
}
