<div>
    <div class="feed-container">
    <div class="tabs" *ngIf="isUserLoggedIn">
      <button (click)="setActiveTab('following')" [class.active]="activeTab === 'following'">Seguindo</button>
      <button (click)="setActiveTab('myFeed')" [class.active]="activeTab === 'myFeed'">Meu Feed</button>
    </div>
        <div *ngFor="let item of feedItems" class="post">
          <h2>Novo post!</h2>
          <p>
            <a class="author" (click)="openProfile(item.authorId)"><strong>{{ item.authorName }}</strong></a> fez um novo post!
          </p>
          <p>{{ item.content }}</p>
          <a (click)="openPost(item.authorId)">Ver mais</a>
          <p class="date">{{ item.date }}</p>
        </div>
    </div>
</div>