.star-rating {
    font-size: 0;
  
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 2px;
      background-color: white; /* Default color is black */
      clip-path: polygon(
        50% 0%,
        61.8% 35.3%,
        98.2% 35.3%,
        68.2% 57.3%,
        79.1% 91.7%,
        50% 70.6%,
        20.9% 91.7%,
        31.8% 57.3%,
        1.8% 35.3%,
        38.2% 35.3%
      );
    }
  
    .yellow {
      background-color: yellow; /* Change color to yellow for rated stars */
    }
  }
  