
.Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 140px;
    border: none;
    margin-left: 05%;
    background-color: rgba(131, 0, 0, 0.5);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(36, 36, 36, 0.5);
    transition-duration: .3s;
    padding: .5rem;
    p {
      margin: .125rem .5rem 0 1.5rem;
    }
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    color: rgb(255, 170, 0);
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(255, 0, 149);
  }