.popup-container {
    position: sticky;
    top: 0;
    z-index: 9999; 
}

.userUser {
    font-size: 10px;
}

.follows{
    display: flex;
    flex-direction: row;
    margin-top: 5%;

    .follower{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        padding-right: 20%;
    }
    // Hover follower
    .follower:hover{
        color: rgb(131,0,0);
        cursor: pointer;
    } 


    .following{
        display: flex;
        flex-direction: row;
        padding-right: 30%
    }

    .following:hover{
        color: rgb(131,0,0);
        cursor: pointer;
    } 

    .follower-counter{
        cursor: pointer;
        padding-right: 15%;
        color: gray;
    }


}



.popup {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    background-image: url('https://cdn.steamstatic.com/steamcommunity/public/images/items/224420/1cee148dbe320a9367bcdf5211ae077e695a4cfe.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.profile-background {
    background-color: rgba(70, 70, 70);
    width: 70vw; 
    height: 100vh;
    position: absolute;
    display: flex;
    mix-blend-mode: multiply;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-content {
    color: #ecf0f1;
    padding: 20px;
    width: 70vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: top;

    .profile-left {
        display: flex;
        flex-direction: column;
        width: 75%;

        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 20px;
            display: block;
            align-self: flex-start;
        }

        .profile-info {
            display: flex;
            flex-direction: row;
            height: 35%;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            margin: 30px;
        }

        .username {
            padding: 10px;
            margin-right: auto;
            cursor: pointer;
        }

        .user-bio {
            padding: 10px;
            margin-right: auto;
            text-align: left;
        }

        .follow-info {
            margin-top: 1%;
            background-color: #9696966d;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
        }

        .followapp {
            display: none;
        }

        .follow-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                margin: 0 1rem;
            }
            .follows{
                margin-left: 0rem;
            }
        }


        .follow-counter{
            cursor: pointer;
            margin: 10px;
        }

        .misc-info {
            display: center;
            max-height: 100vh;
        }
    }

    .profile-right {
        background-color: rgba(211, 211, 211, 0.09); /* Cor de fundo do retângulo vertical */
        color: #ecf0f1; /* Cor do texto */
        border-radius: 10px;
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        gap: 1rem;

        .editbtn {
            text-align: center;
            margin-top: 20px;
        }

        .postbtn{
            align-self: center;
            margin-top: 50%
        }
    }
}
