<div class="profile-page">
    <!-- Plano de fundo -->
    <div class="background"></div>
  
    <!-- Retângulo vertical para informações do perfil -->
    <div class="profile-background">
      <!-- Informações do perfil -->
      <div class="profile-info">
        <!-- Foto do perfil -->
        <img src="../../../../assets/profile/profilePic.jpg" alt="Foto do perfil" class="profile-picture">
        <div class="user-info">
            <h1>Nome do Usuário</h1>
            <p>Descrição do perfil...</p>
        </div>
      </div>

      <div class="ABLUBLU">
        <div class="TESTE"></div>
        <div class="TESTE2"></div>
      </div>
  
      <!-- Outras informações, como jogos favoritos, conquistas, etc. -->
      <!-- Você pode adicionar mais elementos aqui -->
    </div>
  </div>
