.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Usamos min-height para garantir que ele cubra toda a altura da página */
    position: relative;
}

.background {
    background-image: url('../../../../assets/profile/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6; /* Ajuste a opacidade conforme necessário */
}

.profile-background {
    background-color: rgba(44, 62, 80, 0.95);
    color: #ecf0f1;
    padding: 20px;
    border-radius: 0; /* Removemos a borda arredondada */
    text-align: center;
    width: 70vw; /* 1280px*/
    height: 100vh; /* Ocupa toda a altura disponível */
    display: flex;
    flex-direction: column;
    justify-content: top; /* Alinha o conteúdo verticalmente */
}

.profile-picture {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    display: block;
    align-self: flex-start;
}

.profile-info {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    margin: 20px;
    align-self: flex-start;
}

.user-info {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    margin: 20px;
    align-self: flex-start;
}

.TESTE {
    background-color: red; /* Cor de fundo do retângulo vertical */
    color: #ecf0f1; /* Cor do texto */
    border-radius: 5px;
    height: 70vh;
    width: 75%;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.TESTE2 {
    background-color: blue; /* Cor de fundo do retângulo vertical */
    color: #ecf0f1; /* Cor do texto */
    border-radius: 5px;
    height: 70vh;
    width: 25%;
    align-self: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.ABLUBLU {
    display: flex;
    flex-direction: row;
    border-radius: 50%;
}