<div class="profile-page">
    <!-- Plano de fundo -->
    <div class="background"></div>
  
    <div class="profile-background"></div>
    <!-- Retângulo vertical para informações do perfil -->
    <div class="profile-content">
      <!-- Informações do perfil -->
      <div class="profile-left">
        
        <div class="profile-info">
            <!-- Foto do perfil -->
            <img src="../../../../assets/profile/profilePic.jpg" alt="Foto do perfil" class="profile-picture">
            <div class="user-info">
                <h1 class="username">Nome do Usuário</h1>
                <p class="user-bio">Descrição do usuário</p>
            </div>
        </div>

        <div class="misc-info"></div>
      </div>
        
    <div class="profile-right">
    </div>
  
      <!-- Outras informações, como jogos favoritos, conquistas, etc. -->
      <!-- Você pode adicionar mais elementos aqui -->
    </div>
  </div>
