<div class="detailed-post-container">
  <h1 class="post-title">Jogando formula 1</h1>
  <p class="post-info"><strong>Date:</strong> 13, September</p>
  <p class="post-info"><strong>Category:</strong> Corrida</p>
  <div class="star-rating">
    <span class="star yellow" *ngFor="let _ of [1, 2, 3]; let i = index">&#9733;</span>
    <span class="star" *ngFor="let _ of [1, 2]; let i = index">&#9733;</span>
  </div>
  
  <div class="post-content">
    <p>
     Joguei muito com o Felipe Massa galera, bem veloz!
    </p>
  </div>
</div>
