.btn {
    background-color: var(--color-texts);

    color: white;
    font-size: var(--font-subtitle);

    height: 3rem;
    // border-radius: var(--radius-default);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(4, 32, 85);
    box-shadow: 5px 5px 0px rgb(38, 44, 121);
}

.colorpurple{
    border: none;
    background-color: rgb(168, 38, 255);
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
}

.colorred{
    border: none;
    background-color: rgb(131, 0, 0);
    font-weight: 500;
    cursor: pointer;
    // border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(87, 0, 0);
}

.colorred:hover {
    background-color: rgb(87, 0, 0);
    box-shadow: 5px 5px 0px rgb(65, 0, 0);
}

.deletebtn{
    border: none;
    background-color: rgb(131, 0, 0);
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(87, 0, 0);
}

.deletebtn:hover {
    background-color: rgb(226, 67, 45);
    box-shadow: 2px 2px 0px rgb(148, 44, 30);
}

.black-outline {
    background-color: var(---color-background);
    border: 1px solid var(--color-texts);

    color: var(--color-texts);
}

.black-outline:hover {
    background-color: var(--color-texts);
    color: white;
}

.large {
    width: 22rem;
}

.medium {
    width: 11rem;
}

.small {
    width: 8rem;
}

.mini {
    width: 5rem;
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

