.btn {
    background-color: var(--color-texts);

    color: white;
    font-size: var(--font-subtitle);

    height: 3rem;
    border-radius: var(--radius-default);
    cursor: pointer;
}

.btn:hover {
    background-color: #2b2b2b;
}

.colorpurple{
    border: none;
    background-color: rgb(168, 38, 255);
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
}

.colorblue{
    border: none;
    background-color: rgb(15, 59, 255);
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(17, 43, 114);
}

.black-outline {
    background-color: var(---color-background);
    border: 1px solid var(--color-texts);

    color: var(--color-texts);
}

.black-outline:hover {
    background-color: var(--color-texts);
    color: white;
}

.large {
    width: 22rem;
}

.medium {
    width: 11rem;
}

.small {
    width: 8rem;
}

.mini {
    width: 5rem;
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

