@use '@angular/material' as mat;

@include mat.core();

$frontend-angular-ess-primary: mat.define-palette(mat.$indigo-palette);
$frontend-angular-ess-accent: mat.define-palette(
    mat.$pink-palette,
    A200,
    A100,
    A400
);

$frontend-angular-ess-warn: mat.define-palette(mat.$red-palette);

$frontend-angular-ess-theme: mat.define-light-theme(
    (
        color: (
            primary: $frontend-angular-ess-primary,
            accent: $frontend-angular-ess-accent,
            warn: $frontend-angular-ess-warn,
        ),
    )
);

@include mat.all-component-themes($frontend-angular-ess-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Color */
    --color-main: #221f1f;
    --color-background: #ffffff;
    --color-texts: #414141;
    --color-inactive: #818181;
    --color-cards: #fcfcfc;

    /* Font */
    --font-family-base: 'Quicksand', sans-serif;
    --font-title: 24px;
    --font-subtitle: 16px;
    --font-texts: 14px;
    --font-inputs: 14px;
    --font-placeholder: 12px;

    /* Font Weight */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-extra-bold: 700;

    /* Radius */
    --radius-default: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
