.list {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        text-align: left;
        padding: 0;

        span {
            font-size: 1.5rem;
        }
    }
}
